html,
body {
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #171717;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.landing
{
    margin-top: 2%;
}

.btn-xl
{
    margin-top: 2%;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px 20px;
    font-size: x-large;
}

.lab {
    margin-top: 5%;
    margin-bottom: 5%;
}

.graph {
    display : block;
    margin: 0 auto;
    text-align: left;
}

.btn-m {
    margin-top: 10%;
}

.form {
    margin-left: 20%;
    margin-right: 20%;
}

.hoverable {
    position: relative;
}

.hoverable>.hoverable__tooltip {
    display: none;
}

.hoverable:hover>.hoverable__tooltip {
    display: inline;
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    background: #888;
    border: 1px solid black;
}

.reqs {
    opacity: 50%;
}
