html,
body {
    height: 100%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #171717;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lab {
    margin-top: 5%;
    margin-bottom: 5%;
}

.btn-m {
    margin-top: 10%;
}

.form {
    margin-left: 20%;
    margin-right: 20%;
}

.hoverable {
    position: relative;
  }

  .hoverable>.hoverable__tooltip {
    display: none;
  }

  .hoverable:hover>.hoverable__tooltip {
    display: inline;
    position: absolute;
    top: 1em;
    left: 1em;
    background: #888;
    border: 1px solid black;
  }
