{% load static %}
<!DOCTYPE html>
<html lang="ru-RU">
  <head>
    <title>Вход</title>
    {% load bootstrap5 %}
    {% bootstrap_css %} {% bootstrap_javascript %}
    {% load crispy_forms_tags %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />
    <link rel="shortcut icon"
          type="image/png"
          href="{% static 'images/favicon.ico' %}" />
    <meta name="description" content="Log in">
    <meta name="keywords" content="Log in">
  </head>
  <body>
    <div class="h-100 d-flex align-items-center justify-content-center">
      <div class="container text-center text-white">
        <h2 class="lab">Войти</h2>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-dark btn-lg btn-m">Готово</button>
        </form>
      </div>
    </div>
  </body>
</html>
